{#
Displays a list of users in a dropdown menu
Needs: all_nodes (a list of MeshNode)
#}

<script>
    function updateMessages() {
        var homeNode = document.getElementById('home-node').value;
        var channel = document.getElementById('channel').value;
        window.location.href = window.location.pathname + '?home-node=' + homeNode + '&channel=' + channel;
    }
</script>

<div class="dropdown">
    <label for="home-node">Home node:</label>
    <select id="home-node" name="home-node" onchange="updateMessages()">
        <option value="" {% if selected_node_id == '' %}selected{% endif %}>---</option>
        {% for node in all_nodes %}
            <option value="{{ node.id_str }}" {% if node.id_str == selected_node_id %}selected{% endif %}>
                {{ node.user.short_name }} - {{ node.user.long_name }} ({{ node.id_str }})
            </option>
        {% endfor %}
    </select>
</div>

<div class="dropdown">
    <label for="channel">Channel:</label>
    <select id="channel" name="channel" onchange="updateMessages()">
        <option value="" {% if selected_channel == '' %}selected{% endif %}>---</option>
        {% for i in range(1, 9) %}
            <option value="{{ i }}" {% if i == selected_channel %}selected{% endif %}>
                Channel {{ i }}
            </option>
        {% endfor %}
    </select>
</div>