# ARMv7 specific
wheel
# You'll also need to install
# sudo apt-get install libpq-dev python3-dev

# Application requirements
django~=5.1.7
djangorestframework~=3.15.2
psycopg2~=2.9.10
python-dotenv~=1.0.1
jinja2~=3.1.6
django-jinja~=2.11.0
typing_extensions~=4.12.2
