{% extends "base.html.j2" %}


{% block content %}
    <div class="space-y-4">
        {% include 'MessageViewer/components/user_dropdown.html.j2' %}
        {% for item in messages %}
            {% include 'MessageViewer/components/message_item.html.j2' %}
        {% endfor %}
    </div>
{% endblock %}