.message {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    max-width: 80%;
    word-wrap: break-word;
}

.message.sent {
    background-color: #e1ffc7;
    margin-left: auto;
}

.message.received {
    background-color: #fff;
    border: 1px solid #e1ffc7;
    margin-right: auto;
}

.message .content {
    display: flex;
    align-items: center;
}

.message .content .user-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    margin-right: 10px;
    font-size: 0.8em; /* Adjusted font size */
}

.message .content .body {
    display: flex;
    flex-direction: column;
}

.message .content .body .header {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
}

.message .content .body .header .user-name {
    font-weight: bold;
}

.message .content .body .header .node-id {
    font-style: italic;
}

.message .content .body .text {
    margin-bottom: 20px;
}

.message .timestamp {
    font-size: 0.8em;
    color: #999;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.dropdown {
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.dropdown label {
    font-weight: bold;
    margin-right: 10px;
}

.dropdown select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1em;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.dropdown select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.dropdown::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1em;
    color: #666;
}