# Server
DEBUG=true
#ALLOWED_HOSTS="meshcontrol, meshcontrol.local"
#HOSTNAME=

# Database (pre-prod)
POSTGRES_DB=meshtastic
POSTGRES_USER=meshtastic
POSTGRES_PASSWORD=meshtastic
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
