{% extends "base.html.j2" %}


{% block extra_css %}
    <link rel="stylesheet" href="{{ static('MessageViewer/css/MessageViewer.css') }}">
{% endblock %}


{% block content %}
    {#    <div class="chat-container">#}
    {% include 'MessageViewer/components/user_dropdown.html.j2' %}

    {% for item in messages %}
        {% include 'MessageViewer/components/message_item.html.j2' %}
    {% endfor %}
    {#    </div>#}
{% endblock %}